<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakao.sdk.sample" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission android:name="com.kakao.sample.push.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.kakao.sample.push.permission.C2D_MESSAGE"/>

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/kakaolink_sample_icon"
        android:theme="@android:style/Theme.NoTitleBar"
        android:name="com.kakao.sdk.sample.common.GlobalApplication"
        android:label="@string/app_name">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".common.SampleLoginActivity"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:configChanges="screenSize|orientation"
                  android:launchMode="singleTask"/>

        <activity android:name=".common.SampleSignupActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:configChanges="screenSize|orientation"
                  android:launchMode="singleTask"/>

        <activity android:name=".KakaoServiceListActivity"
                  android:launchMode="singleTask"/>


        <!-- kakaoStory를 위한 activity -->

        <activity android:name=".kakaostory.KakaoStoryFriendListActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="screenSize|orientation"
                  android:launchMode="singleTop"/>

        <activity android:name=".kakaostory.KakaoStoryMainActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/kakao_scheme" android:host="@string/kakaostory_host" />
            </intent-filter>
        </activity>

        <!-- kakaoTalk를 위한 activity -->

        <activity android:name=".kakaotalk.KakaoTalkMainActivity"
                  android:launchMode="singleTop"
                  android:configChanges="screenSize|orientation"
                  android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/kakao_scheme" android:host="@string/kakaotalk_host" />
            </intent-filter>
        </activity>

        <activity android:name=".kakaotalk.KakaoTalkFriendListActivity"
                  android:launchMode="singleTop"
                  android:configChanges="screenSize|orientation"
                  android:windowSoftInputMode="adjustResize">
        </activity>

        <activity android:name=".kakaotalk.KakaoTalkChatListActivity"
                  android:launchMode="singleTop"
                  android:configChanges="screenSize|orientation"
                  android:windowSoftInputMode="adjustResize">
        </activity>


        <!-- push를 위한 activity -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.kakao.sdk.GcmProjectId" android:value="@string/gcm_project_number"/>

        <activity
            android:name=".push.PushMainActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleTop"/>

        <!--
          WakefulBroadcastReceiver that will receive intents from GCM
          services and hand them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver android:name=".push.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.kakao.sdk.sample"/>
            </intent-filter>
        </receiver>
        <service android:name=".push.GcmIntentService"/>


        <!-- usrmgmt를 위한 activity -->

        <activity
            android:name="com.kakao.sdk.sample.usermgmt.UsermgmtMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTop"/>


        <!-- friends를 위한 activity -->

        <activity
            android:name="com.kakao.sdk.sample.friends.FriendsMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTop"/>

        <!-- storage를 위한 activity -->

        <activity
            android:name="com.kakao.sdk.sample.storage.StorageMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTop"/>


    </application>
</manifest>
